// UI
$font-family: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;
$font-size: 16px;

$color__dark-blue: rgb(52, 73, 94);
$color__light-orange: rgb(253, 227, 167);
$color__dark-gray: #3C3741;
$color__almost-black: rgb(44, 62, 80);
$color__rose: rgba(210, 77, 87, 1);
$color__very-light-gray: rgb(210, 215, 211);
$color__button-blue: rgb(92, 151, 191);
